# **Theoretical Questions :**

1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so we can use it efficiently. They help us keep data neat and easy to access, like putting books on a shelf instead of in a messy pile.



2. Explain the difference between mutable and immutable data types with examples.
- Mutable means we can change it after creating it — like a list: `my_list = [1, 2, 3]` → wecan add or remove things. *Immutable* means it stays the same once made — like a string: `my_string = "Hello"` → we can’t change the letters directly.



3. What are the main differences between lists and tuples in Python?
- Lists are mutable (changeable) and written with `[]`. Tuples are immutable (can’t change) and written with `()`. So, use a list when we need to edit stuff; use a tuple when the data shouldn’t change.



4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs, like a word (key) and its meaning (value). For example: `{"name": "Sporsho", "age": 23}` — here, `"name"` is the key, `"Sporsho"` is the value.



5. Why might you use a set instead of a list in Python?
- A set removes duplicate values automatically and is good when we just want unique items. For example: `set([1, 2, 2, 3])` becomes `{1, 2, 3}`.



6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters, like `"Hello"`. It’s immutable, so we can’t change parts of it directly. A list can hold any data type, can mix items, and we can add, remove, or change items.



7. How do tuples ensure data integrity in Python?
- Because tuples can’t be changed after they’re made, they protect the data from being accidentally edited. This is useful when the data must stay the same.




8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a system for storing data so we can find it fast. Python dictionaries use hash tables under the hood to quickly match keys to values.


9. Can lists contain different data types in Python?
- Yes! A list can have numbers, strings, other lists — anything. Example: `[1, "hello", [2, 3]]` is totally fine.



10. Explain why strings are immutable in Python.
- Strings are immutable to make them safe and fast to use. If lots of programs share the same string, no one can accidentally change it for everyone else.



11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are better when we need to look up data by a name or label (key), not by a position. They make finding things faster than searching through a list.



12. Describe a scenario where using a tuple would be preferable over a list.
- If we want to store a date `(2025, 7, 12)` that should never change, a tuple is better than a list. It keeps the data safe.


13. How do sets handle duplicate values in Python?**
- Sets automatically remove any duplicates, so we always get unique items.



14. How does the “in” keyword work differently for lists and dictionaries?
- For lists, `"in"` checks if a value is there: `2 in [1, 2, 3]`. For dictionaries, it checks if a key is there: `'name' in {"name": "John"}`.



15. Can you modify the elements of a tuple? Explain why or why not.
- No, we can’t. Tuples are immutable — once made, their contents stay the same.



 16. What is a nested dictionary, and give an example of its use case.
 - A nested dictionary is a dictionary inside another dictionary.

  Example:

            ```python
            {
              "student": {
                "name": "Amit",
                "grades": {"math": 90, "science": 85}
              }
            }
            ```

  This helps keep related info grouped together.



17. Describe the time complexity of accessing elements in a dictionary.
- Accessing a value by its key in a dictionary is usually very fast — about O(1) time.



18. In what situations are lists preferred over dictionaries?
- Lists are better when you care about the order of items or need to store simple sequences like a to-do list.



19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- In older Python versions, dictionaries didn’t keep the order we added items. So, we can’t rely on the order — you just get the value by its key.



20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list,  we get data by its position (like list\[0]). In a dictionary, we get data by its key (like dict\["name"]).

# **Practical Questions :**

In [2]:
# 1. Write a code to create a string with your name and print it

my_name = "Sayan Saha"
my_name

'Sayan Saha'

In [3]:
# 2. Write a code to find the length of the string "Hello World."

my_string = "Hello World"
string_length = len(my_string)
string_length

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming."

my_string = "Python Programming"
first_three = my_string[:3]
first_three

'Pyt'

In [5]:
#  4. Write a code to convert the string "hello" to uppercase

my_string = "hello"
uppercase_string = my_string.upper()
uppercase_string

'HELLO'

In [7]:
#  5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
new_string

'I like orange'

In [9]:
#  6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [10]:
#  7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
second_element

'b'

In [13]:
#  10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
my_list

[50, 40, 30, 20, 10]

In [14]:
#  11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
my_tuple

(100, 200, 300)

In [15]:
#  12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
second_to_last_element

'blue'

In [16]:
#  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
minimum_number

5

In [17]:
#  14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
index_of_cat

1

In [18]:
#  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits_tuple = ("apple", "banana", "orange")
if "kiwi" in fruits_tuple:
  print("Kiwi is in the tuple.")
else:
  print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [19]:
#  16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [20]:
#  17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [21]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [22]:
#  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [23]:
#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
intersection_set

{2, 3}

In [26]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Sayan", "age": 23, "city": "Agartala"}
my_dict

{'name': 'Sayan', 'age': 23, 'city': 'Agartala'}

In [27]:
#  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
name_value

'Alice'

In [29]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

In [30]:
#  25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [38]:
#  26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {"Name": "Sonali", "Relation": "My love", "Figure": " Sexy and Curvy"}

# Printing the data structures
print("My List is:", my_list)
print("My Tuple is:", my_tuple)
print("My Dictionary is:", my_dict)

My List is: [1, 2, 3, 4, 5]
My Tuple is: (10, 20, 30, 40, 50)
My Dictionary is: {'Name': 'Sonali', 'Relation': 'My love', 'Figure': ' Sexy and Curvy'}

In [43]:
#  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

import random

random_numbers = [random.randint(1, 100) for i_love_u in range(5)]
random_numbers.sort()
random_numbers

[58, 68, 68, 77, 81]

In [49]:
#  28. Write a code to create a list with strings and print the element at the third index.

my_list_of_strings = ["Simran", "Tania", "Sneha", "Sonali", "Priyanka"]
my_list_of_strings[3]

'Sonali'

In [51]:
#  29. Write a code to combine two dictionaries into one and print the result.

dic1 = {"a": 1, "b": 2}
dic2 = {"c": 3, "d": 4}

combined_dict = {**dic1, **dic2}
combined_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [79]:
#  30. Write a code to convert a list of strings into a set.

def list_to_set(string_list):

 return set(string_list)

my_list_of_strings = ["Chemistry","Mathematics","Physics"]
my_set_of_strings = list_to_set(my_list_of_strings)
print(my_set_of_strings)

{'Physics', 'Chemistry', 'Mathematics'}